<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>AGREGAR una PELICULA</h1>
    <form action="/movies/createMovies" method="POST">
      <div>
         <label for="title">Titulo</label>
      <input type="text" name="title" id="title" />
      </div>
     <div>
             <label for="rating">Rating</label>
      <input
        type="numbers"
        name="rating"
        id="rating"
        
      />
     </div>
<div>
        <label for="awards">Premios</label>
      <input type="aw" name="awards" id="awards" />
</div>
<div>
        <label for="release_date">Fecha de estreno</label>
      <input
        type="date"
        name="release_date"
        id="release_date"
        
      />
</div>
<div>
        <label for="length">Duracion</label>
      <input
        type="length"
        name="length"
        id="length"
        
      />
</div>
<div>
       <label for="">Genero</label>
      <select  name="genre">
        <% for (let i = 0; i < genre.length; i++) { %>
        <option value="<%= genre[i].id %>">
        <%= genre[i].name %>
        </option>
         <% } %>
        </select>
      
</div>

      <button type="submit">Guardar</button>
      <button type="reset">Cancelar</button>
    </form>
    <button><a href="/">Volver al listado de peliculas</a></button>
  </body>
</html>
