<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-- <form
      action="/movies/deleteMovies/<%= movies.id %>?_method=DELETE"
      method="POST"
      class="form-menu"
    >-->
    <h1>ELIMINAR PELICULA</h1>
    <p>¿ Deseas eliminar a ?</p>
    <button type="submit">Borrar pelicula</button>
    <a href="/"> Volver al Listado de peliculas</a>
    <!-- </form>-->
  </body>
</html>
