<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>LISTADO de PELICULAS</h1>
    <p><a href="/movies/detailMovies/:id"></a>pelicula 1</p>
  </body>
</html>
