<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>LOGIN</h1>
    <form action="/" method="get">
      <div>
              <label for="email"></label>
      <input type="email" name="email" id="email" placeholder="Email" />
      </div>

<div>
        <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
      />
</div>
      <button type="submit">Inicia Sesión</button>
    </form>
  </body>
</html>
