<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <form action="/users/register" method="POST">
      <h2>Creá tu cuenta</h2>
      <p>¿Ya tenés un cuenta?</p>
      <p>
        <a href="/users/login">ingresá</a>
      </p>

      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <label>Rol de usuario</label>
        <select name="rol" id="rol">
          <option value="1">Administrador</option>
          <option value="0">Usuario</option>
        </select>
      </div>

      <div>
        <button type="submit">Registrate</button>
        <button type="reset">Cancelar</button>
      </div>
    </form>
  </body>
</html>
